{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <div class="container col-lg-4 mx-auto " style="padding-top: 50px">
                <div class="card">
                    <div class="card-header text-warning">
                        <h3>Delete Course</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">are you sure you want to delete "{{ object.course }}" course?</h5>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" value="confirm" class="btn btn-danger">Yes,Delete</button>
                            <a class="btn btn-secondary mx-3" href="{% url 'course_list_view' %}">Cancle</a>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>You are not allowed to access this page</h1>
        {% endif %}
    {% endif %}
{% endblock %}
