{% extends 'base.html' %}
{% block content %}
    {% for course in courses %}
        <div id='card' class="container col-lg-4 my-5">
            <div class="card text-center">
                <div class="card-header" style="background-color: #f5c1bd;">
                    <h2 class="text-success">{{ course.course }}</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special Offers On Early Enrollment</h5>
                    <p class="card-text">{{ course.content }}</p>
                    <a href="{% url 'enroll' pk=course.courseid %}" class="btn btn-primary">Enroll Now</a>
                    <a href="{% url 'coursedetail' pk=course.courseid %}" class="btn btn-success mx-4">Details</a>
                </div>
                <div class="card-footer text-muted" style="background-color: #f5c1bd">
                    <span>2 days ago</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}