{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <div class="container col-lg-4 mx-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Welcome Admin</li>
                        <li class="breadcrumb-item"><a href="{% url 'adminhome' %}">Back</a></li>
                    </ol>
                </nav>
            </div>

            <div class="container">
                <table class="table table-striped">
                    <thead class="thead-light">
                    <tr>
                        <th>Course</th>
                        <th>Faculty</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>Fee</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>Check Enrolled Students</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in object_list %}
                        <tr>
                            <td>{{ course.course }}</td>
                            <td>{{ course.faculty }}</td>
                            <td>{{ course.date }}</td>
                            <td>{{ course.time }}</td>
                            <td>{{ course.duration }}</td>
                            <td>{{ course.fee }}</td>
                            <td><a class="btn btn-warning btn-sm" href="{% url 'courseupdate' pk=course.courseid %}">Update</a>
                            </td>
                            <td><a class="btn btn-danger btn-sm" href="{% url 'coursedelete' pk=course.courseid %}">Delete</a>
                            </td>
                            <td><a class="btn form-control btn-warning btn-sm"
                                   href="{% url 'enrolledcourses' pk=course.courseid %}">Enrolled students</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <th>No Courses Available</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h3>Not allowed to access this page</h3>
        {% endif %}
    {% endif %}
{% endblock %}