{% extends 'base.html' %}
{% block content %}
    <div class="container col-lg-4 my-5">
        <div class="card text-center">
            <div class="card-header">
                <h2 class="text-success">{{ object.course }}</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special Offers On Early Enrollment</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi assumenda
                    at delectus ducimus eos explicabo impedit ipsum, nobis odit, perferendis quaerat quo similique
                    voluptatibus!</p>
                <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
            <div class="card-footer text-muted">
                <span>2 days ago</span>
            </div>
        </div>
    </div>
{% endblock %}